:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  /* color: #535bf2; */
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#scroll-container {
  height: 100vh;
  overflow: auto;
}

/*
*  html5resetcss
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ul {
  list-style: none;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}

section {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;

  /* border: 1px solid white; */
}

header {
  width: 100vw;
  color: white;
  display: flex;
  justify-content: space-between;
  /* background: red; */
  height: 94px;
  align-items: center;
  padding: 2%;
  padding-left: 85px;
  padding-right: 85px;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  font-weight: 400;

  .gnb {
    display: flex;
    gap: 47px;
    cursor: pointer;

    /* ********⭐️gnb호버했을 때 닷 뜨는 거, content가 공란이더라도 반드시 있어야함⭐️******** */
    li:before {
      content: "";
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: white;
      position: absolute;
      left: -15px;
      transform: translateY(-50%);
      top: 50%;
      opacity: 0;
      transition: all 0.5s;
    }

    li {
      position: relative;

      &:hover:before {
        opacity: 1;
        left: -10px;
      }
    }
    /* ********⭐️gnb호버했을 때 닷 뜨는 거, before에서 opacity:0으로 줘서 안보이게 해놨다가 아래 호버에서 opacity:1로 보이게 함⭐️******** */
  }

  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transform: scale(1.05);
  }

  .right_menu {
    display: flex;
    gap: 47px;
    align-items: center;

    .shoppingsvg {
      scale: 0.8;
    }

    img {
      width: 1.7rem;
      height: 1.7rem;
      object-fit: contain; /* 비율 유지하며 크기 조정 */
    }
  }
}

.footer {
  background-image: url(/section08/footer_bg.png);
  .bottom_section {
    margin-top: 138px;
    display: flex;

    .bottom_left {
      margin-left: 94px;
      width: 960px;
      display: flex;
      flex-direction: column;

      .logo {
        margin-bottom: 146px;
      }
      .promotion_enjoy {
        margin-bottom: 28px;
      }
    }

    .bottom_right {
      width: 960px;
      padding-left: 94px;
      /* background-color: black; */
      display: flex;
      flex-direction: column;
      gap: 120px;
    }
  }
}

/* 💖이거 클래스로 사용하기! */
.imgEffect {
  overflow: hidden;
  transform: translateY(50px);

  img {
    transform: scale(1.2);
  }
}
